services:
  web:
    build: .
    command: gunicorn metro.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: metro.settings
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: metrodb
      POSTGRES_USER: metrouser
      POSTGRES_PASSWORD: strongpassword
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  postgres_data:
