<!DOCTYPE html>
<html>
<head>
    <title>Buy Ticket</title>
</head>
<body>
    <h2>Buy Metro Ticket</h2>
    <p style="color:red;">{{ error }}</p>

    <form method="post">
        {% csrf_token %}

        <label>Source:</label>
        <select name="source">
            {% for station in stations %}
                <option value="{{ station.id }}">{{ station.name }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label>Destination:</label>
        <select name="destination">
            {% for station in stations %}
                <option value="{{ station.id }}">{{ station.name }}</option>
            {% endfor %}
        </select>
        <br><br>

        <button type="submit">Buy Ticket</button>
    </form>
</body>
</html>
